*.pyc
*.fits
*.xml
fast_response/output/*
fast_response/output/
fast_response/precomputed_background/trials/
fast_response/precomputed_background/glob_trials/
*.json
v01-00/
fast_response.egg-info/
examples/
RELEASE_NOTES
