*.pyc
*.fit*
*.xml
*.json
*.txt
*.log
*.pkl
*.csv
fast_response/output/
fast_response/precomputed_background/trials/
fast_response/precomputed_background/glob_trials/
build/
v01-00/
fast_response.egg-info/
examples/
RELEASE_NOTES
fast_response/results_dataframe.pkl
fast_response/results_dataframe_gw.pkl
output/
fast_response/results_dataframe_bkup.pkl
fast_response/scripts/make_call.py
cascade_skymaps/
*.png
fast_response/tests/
fast_response/slack_posters/lvk_email_sms_notif.py
